<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>KiriminAja - Kirim Paket multi expedisi dan Bisa kirim paket COD</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/animate.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/custom-animation.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/swiper-bundle.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/slick.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/flaticon.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/meanmenu.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/font-awesome-pro.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/spacing.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/style.css" />
  </head>

  <body>
    <div id="app"></div>
    <script src="<%= BASE_URL %>assets/js/jquery.js"></script>
    <script src="<%= BASE_URL %>assets/js/waypoints.js"></script>
    <script src="<%= BASE_URL %>assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="<%= BASE_URL %>assets/js/swiper-bundle.js"></script> -->
    <script src="<%= BASE_URL %>assets/js/slick.js"></script>
    <script src="<%= BASE_URL %>assets/js/magnific-popup.js"></script>
    <script src="<%= BASE_URL %>assets/js/counterup.js"></script>
    <script src="<%= BASE_URL %>assets/js/wow.js"></script>
    <script src="<%= BASE_URL %>assets/js/meanmenu.js"></script>
    <script src="<%= BASE_URL %>assets/js/isotope-pkgd.js"></script>
    <script src="<%= BASE_URL %>assets/js/imagesloaded-pkgd.js"></script>
    <script src="<%= BASE_URL %>assets/js/ajax-form.js"></script>
    <script src="<%= BASE_URL %>assets/js/main.js"></script>
  </body>
</html>
