<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <!-- tp-about-area-start -->
    <div class="ac-about-content-area pt-80">
      <div class="container">
        <div class="row ac-testimonial-space">
          <div class="col-xl-7 col-lg-7 wow tpfadeRight" data-wow-duration=".5s" data-wow-delay=".7s">
            <div class="ac-testimonial-right">
              <img style="border-radius: 20px" src="assets/img/about/team-image.png" alt="" />
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".3s" data-wow-delay=".5s">
            <div class="ac-feature-left">
              <p class="ac-feature-title-3" style="color: #7e36bc">#TwogetherStronger</p>
              <h5 class="ac-feature-title-2">
                Memberi <span style="color: #7e36bc"> solusi teknologi</span> untuk kebutuhan supply chain yang mempermudah ekosistem bisnis Indonesia
                berkembang.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tp-about-area-end -->

    <!-- tp-feature-area-start -->
    <div class="ac-feature-area">
      <div class="container">
        <div class="row ac-feature-space">
          <div class="col-xl-4 col-lg-4 justify-content-end">
            <div class="ac-feature-left">
              <h3 class="ac-feature-title-3" style="color: #7e36bc">Vision & Mission</h3>
              <h3 class="ac-feature-title-2">Our Mission</h3>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="ac-feature-right">
              <p class="pb-10">
                KiriminAja adalah sebuah platform yang memberikan kemudahan untuk pengiriman paket dan menemukan ekspedisi sesuai kebutuhan
                masyarakat, dengan metode pengiriman COD dan Non-COD yang dikembangkan oleh PT Selalu Siap Solusi. Kemi memberikan solusi untuk UMKM,
                pebisnis online, serta seluruh masyarakat Indonesia yang ingin melakukan pengiriman paket.
              </p>
            </div>
          </div>
        </div>
        <div class="ac-feature-border-top">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="acfeature mb-50">
                <div class="ac-circle ac-cirle-color-3"></div>
                <div class="acfeature__item">
                  <p>Meningkatkan penjualan produk UMKM secara online.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="acfeature mb-50">
                <div class="ac-circle ac-cirle-color-3"></div>
                <div class="acfeature__item">
                  <p>Memberikan inovasi-inovasi terbaru dan terbaik.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="acfeature mb-50">
                <div class="ac-circle ac-cirle-color-3"></div>
                <div class="acfeature__item">
                  <p>Memberikan pelayanan yang maksimal dan optimal untuk pelanggan.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="acfeature mb-50">
                <div class="ac-circle ac-cirle-color-3"></div>
                <div class="acfeature__item">
                  <p>Mengenalkan KiriminAja seluas-luasnya ke seluruh Indonesia..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- tp-feature-area-end -->

    <!--team-area-start -->
    <div class="ac-team-area pt-80 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="ac-team-title-section text-center mb-60">
              <h3 class="ac-feature-title-3" style="color: #7e36bc">Our Leaders</h3>
              <h3 class="ac-team-title">We lead with intention</h3>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div
            v-for="(row, i) in our_leaders"
            :key="i"
            class="col-xl-2 col-lg-3 col-md-6 align-items-center tpfadeUp"
            data-wow-duration=".3s"
            data-wow-delay=".5s"
          >
            <div class="tp-blog-right-side-sm__img">
              <img class="w-100" style="border-radius: 10px" :src="row.photo" alt="" />
              <h4 class="tp-team-sm-title pt-20 text-center">
                <a href="portfolio-details.html">{{ row.name }}</a>
              </h4>
              <h5 class="tp-team-sm-subtitle text-center" style="color: #7e36bc">
                <a href="#">{{ row.role }}</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- team-area-end -->

    <!-- tp-about-area-start -->
    <div class="tp-about-area grey-bg pt-120 pb-120 p-relative fix">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".3s" data-wow-delay=".5s">
            <div class="bp-about-img">
              <img src="assets/img/about/about-6.1.png" alt="" style="max-width: 120%" />
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-10 col-12 wow tpfadeRight" data-wow-duration=".5s" data-wow-delay=".7s">
            <div class="tp-feature-section-title-box bs-section-title-space">
              <h5 class="tp-subtitle tp-subtitle-before-color pb-10">Kenapa Memilih Kami</h5>
              <h2 class="tp-title tp-title-sm">
                Udah tenang, kirim paketmu dengan KiriminAja sekarang!
                <span style="color: #7e36bc; font-style: italic"> #Bisnisjaditenang </span>
              </h2>
              <p class="pb-25">Semua bisa mulai kirim paket tanpa ribet. Jadikan pengalaman pengiriman paket lebih mudah dengan KiriminAja.</p>
              <div class="tp-fea-button-five">
                <a class="tp-btn-black mr-20" href="https://play.google.com/store/apps/details?id=id.tries.kiriminaja&hl=in"
                  ><i class="fab fa-google-play"></i> Google Play</a
                >
                <a class="tp-btn-black" href="https://apps.apple.com/us/app/kiriminaja/id1544207424"><i class="fab fa-app-store"></i> App Store</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tp-about-area-end -->
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'About',
  data() {
    return {}
  },
  metaInfo() {
    return {
      title: `${this.nameapp} - Tentang Kami`
    }
  },
  computed: {
    ...mapState(['errors', 'nameapp']),
    ...mapState('about', {
      our_leaders: (state) => state.our_leaders
    })
  }
}
</script>
