<template>
  <div>
    <!-- tp-hero-area-start -->
    <div class="tp-hero-area tp-hero-border tp-bp-hero-space p-relative grey-bg fix">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="tp-hero-section-box tp-bp-hero-section-box">
              <h3 class="tp-hero-title tp-bs-hero-title wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".8s">
                Khawatir Hadapi Resesi? Udah Tenang
                <span style="color: #7e36bc"> KiriminAja! </span>
              </h3>
              <p class="wow tpfadeUp" data-wow-duration=".7s" data-wow-delay=".9s">
                KiriminAja berkomitmen empowering pelaku bisnis untuk berani melangkah dengan memberikan kepastian dan keandalan logistik.
              </p>
              <div class="tp-hero-three-button-box d-flex align-items-center wow tpfadeUp" data-wow-duration=".9s" data-wow-delay="1.1s">
                <div class="xs-bottom-space">
                  <a class="tp-btn-black mr-55" href="contact.html">Hubungi Kami</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5">
            <div class="tp-hero-right">
              <div class="tp-bp-hero__img p-relative wow tpfadeRight" data-wow-duration=".9s" data-wow-delay="1s">
                <img class="z-index-1" :src="'assets/img/service/hero-6-1.png'" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tp-hero-area-end -->
    <!-- tp brand  -->

    <div class="tp-brand-area pt-60 pb-60">
      <div class="container">
        <div class="tp-brand-slider-section">
          <div
            class="swiper-container brand-slider-active swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-rtl"
          >
            <swiper :slides-per-view="5" :space-between="50" :autoplay="autoplay" :loop="true">
              <swiper-slide>
                <img src="assets/img/brand/brand-1.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-2.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-3.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-4.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-5.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-6.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-7.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-8.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-10.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-11.png" alt="" />
              </swiper-slide>
              <swiper-slide>
                <img src="assets/img/brand/brand-12.png" alt="" />
              </swiper-slide>
              <div class="swiper-scrollbar" slot="scrollbar"></div>
            </swiper>
          </div>
        </div>
      </div>
    </div>
    <!-- tp brand  -->

    <!--service-area-start -->
    <div class="tp-service-area pb-90 p-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="tp-project-section-box text-center pt-60">
              <h5 class="tp-subtitle">Empowering UMKM</h5>
              <h2 class="tp-title-sm pb-10">Jangkauan untuk semua kebutuhan pengiriman paketmu</h2>
              <h5 class="pb-20">Persembahan dari kami untuk mempermudah kebutuhan bisnismu</h5>
            </div>
          </div>
        </div>
        <div class="row gx-6">
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.1.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Layanan Terintegrasi</a></h3>
                  <p>Dashboard, API, Dan Mobile kami sediakan untuk mengontrol & monitoring lebih mudah.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.6.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Ekspedisi Terbaik</a></h3>
                  <p>Kamu bisa pilih layanan sameday, next day, reguler, ekonomi, kargo dan lainya sesukamu.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.3.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Sistem Otomastis</a></h3>
                  <p>Cetak resi atau AWB, tracking, saldo COD dan banyak fitur lainnya.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row gx-6">
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.2.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Selalu Ada Untukmu</a></h3>
                  <p>Cetak resi / AWB, tracking, saldo COD dan banyak fitur lainnya.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.4.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Laporan Aktual</a></h3>
                  <p>Kemudahan pantau paket, pencairan COD, saldo, semuanya.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.5.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Friendly</a></h3>
                  <p>Ciptakan solusi terbaik dengan masukan, kritik, dan diskusi.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--service-area-end -->

    <!-- tp-about-area-start -->
    <div class="tp-about-area grey-bg pt-120 pb-120 p-relative fix">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".3s" data-wow-delay=".5s">
            <div class="bp-about-img">
              <img src="assets/img/about/about-6.1.png" alt="" style="max-width: 120%" />
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-10 col-12 wow tpfadeRight" data-wow-duration=".5s" data-wow-delay=".7s">
            <div class="tp-feature-section-title-box bs-section-title-space">
              <h5 class="tp-subtitle tp-subtitle-before-color pb-10">Kenapa Memilih Kami</h5>
              <h2 class="tp-title tp-title-sm">
                Udah tenang, kirim paketmu dengan KiriminAja sekarang!
                <span style="color: #7e36bc; font-style: italic"> #Bisnisjaditenang </span>
              </h2>
              <p class="pb-25">Semua bisa mulai kirim paket tanpa ribet. Jadikan pengalaman pengiriman paket lebih mudah dengan KiriminAja.</p>
              <div class="tp-fea-button-five">
                <a class="tp-btn-black mr-20" href="https://play.google.com/store/apps/details?id=id.tries.kiriminaja&hl=in"
                  ><i class="fab fa-google-play"></i> Google Play</a
                >
                <a class="tp-btn-black" href="https://apps.apple.com/us/app/kiriminaja/id1544207424"><i class="fab fa-app-store"></i> App Store</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tp-about-area-end -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { Scrollbar, Mousewheel, Navigation, Autoplay } from 'swiper'
import { SwiperCore, Swiper, SwiperSlide } from 'swiper-vue2'

import 'swiper/swiper-bundle.css'
SwiperCore.use([Scrollbar, Mousewheel, Navigation, Autoplay])

export default {
  name: 'Home-com',
  components: {
    Swiper,
    SwiperSlide
  },
  data() {
    return {
      autoplay: {
        delay: 2000,
        disableOnInteraction: false
      }
    }
  },
  metaInfo() {
    return {
      title: `${this.nameapp} - Home`
    }
  },

  computed: {
    ...mapState(['errors', 'nameapp'])
  }
}
</script>
