<template>
  <div>
    <!-- tp-hero-area-start -->
    <div class="tp-hero-area tp-hero-border tp-bp-hero-space p-relative grey-bg fix">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="tp-hero-section-box tp-bp-hero-section-box">
              <h3 class="tp-hero-title tp-bs-hero-title wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".8s">
                Partner Ecosystem & Integrations
              </h3>
              <p class="wow tpfadeUp" data-wow-duration=".7s" data-wow-delay=".9s">
                Kami bermitra dengan banyak ekspedisi terkemuka untuk membantu mengembangkan bisnis Anda lebih cepat, dan lebih kuat dari sebelumnya.
              </p>
              <div class="jobdetails__feature">
                <ul>
                  <li><i class="fal fa-check"></i> Beragam pilihan expedisi & Layanan</li>
                  <li><i class="fal fa-check"></i> Support Cash On Delivery</li>
                  <li><i class="fal fa-check"></i> Dashboard Monitoring</li>
                </ul>
              </div>
              <div class="tp-hero-three-button-box d-flex align-items-center wow tpfadeUp" data-wow-duration=".9s" data-wow-delay="1.1s">
                <div class="xs-bottom-space">
                  <a class="tp-btn-black mr-55" href="https://dashboard.kiriminaja.com/v3/mbr20/register">Daftar Gratis</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5">
            <div class="tp-hero-right">
              <div class="tp-bp-hero__img p-relative wow tpfadeRight" data-wow-duration=".9s" data-wow-delay="1s">
                <img class="z-index-1" :src="'assets/img/service/integration-image.svg'" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tp-hero-area-end -->

    <!--service-area-start -->
    <div class="tp-service-area pb-90 p-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="tp-project-section-box text-center pt-60">
              <h2 class="tp-title-sm pb-10">Modern Rest API's, Simply Delivered</h2>
              <h5 class="pb-20">Kami menggunakan teknologi REST API terbaru yang lebih mudah dimengerti oleh developer ber skala kecil</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".3s"
            data-wow-delay=".6s"
            style="visibility: visible; animation-duration: 0.3s; animation-delay: 0.6s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/007-email.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Ongkir Up to Date</a></h3>
                  <p>Ongkos kirim langsung dari ekspedisi, tanpa perubahan</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".5s"
            data-wow-delay=".7s"
            style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.7s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.1.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Pickup & Dropoff</a></h3>
                  <p>Tentukan dan pilih opsi pengiriman dropoff dan pickup</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".7s"
            data-wow-delay="1s"
            style="visibility: visible; animation-duration: 0.7s; animation-delay: 1s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.3.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">AWB Terpusat</a></h3>
                  <p>Gak perlu pusing menunggu dapet AWB, kami yang antrikan</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".5s"
            data-wow-delay=".9s"
            style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.9s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.2.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Tracking Satu Pintu</a></h3>
                  <p>Hasil ekspedisi kami buat dengan satu konsep penyajian</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".9s"
            data-wow-delay="1.1s"
            style="visibility: visible; animation-duration: 0.9s; animation-delay: 1.1s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.4.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Jangkauan Terluas</a></h3>
                  <p>Selalu terbuka untuk seluruh area origin dan destinasi</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".9s"
            data-wow-delay="1.2s"
            style="visibility: visible; animation-duration: 0.9s; animation-delay: 1.2s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.5.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Selalu Ada</a></h3>
                  <p>Kami selalu siap sedia ada setiap hari tanpa libur</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".9s"
            data-wow-delay="1.3s"
            style="visibility: visible; animation-duration: 0.9s; animation-delay: 1.3s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/service4.6.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Garansi Uptime</a></h3>
                  <p>Ongkos kirim langsung dari ekspedisi, tanpa perubahan</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-md-6 wow tpfadeUp"
            data-wow-duration=".3s"
            data-wow-delay="1.3s"
            style="visibility: visible; animation-duration: 0.3s; animation-delay: 1.3s; animation-name: tpfadeUp"
          >
            <div class="tp-sv-border-effect sv-border-effect-1">
              <div class="tp-service-item-four sv-1-border sv-color-2 mb-30">
                <div class="tp-service-item-four__img mb-40">
                  <img src="assets/img/service/007-email.png" alt="" />
                </div>
                <div class="tp-service-item-four__title">
                  <h3 class="tp-sv-sm-title"><a href="service-details.html">Tim teknis supportif</a></h3>
                  <p>Ongkos kirim langsung dari ekspedisi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--service-area-end -->

    <!-- tp-about-area-start -->
    <div class="tp-about-area grey-bg pt-120 pb-120 p-relative fix">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".3s" data-wow-delay=".5s">
            <div class="bp-about-img">
              <img src="assets/img/about/about-6.1.png" alt="" style="max-width: 120%" />
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-10 col-12 wow tpfadeRight" data-wow-duration=".5s" data-wow-delay=".7s">
            <div class="tp-feature-section-title-box bs-section-title-space">
              <h5 class="tp-subtitle tp-subtitle-before-color pb-10">Kenapa Memilih Kami</h5>
              <h2 class="tp-title tp-title-sm">
                Udah tenang, kirim paketmu dengan KiriminAja sekarang!
                <span style="color: #7e36bc; font-style: italic"> #Bisnisjaditenang </span>
              </h2>
              <p class="pb-25">Semua bisa mulai kirim paket tanpa ribet. Jadikan pengalaman pengiriman paket lebih mudah dengan KiriminAja.</p>
              <div class="tp-fea-button-five">
                <a class="tp-btn-black mr-20" href="https://play.google.com/store/apps/details?id=id.tries.kiriminaja&hl=in"
                  ><i class="fab fa-google-play"></i> Google Play</a
                >
                <a class="tp-btn-black" href="https://apps.apple.com/us/app/kiriminaja/id1544207424"><i class="fab fa-app-store"></i> App Store</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tp-about-area-end -->
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Integration',
  data() {
    return {}
  },
  metaInfo() {
    return {
      title: `${this.nameapp} - Integrasi API`
    }
  },
  computed: {
    ...mapState(['errors', 'nameapp'])
  }
}
</script>
