<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <footer>
      <div class="tp-footer-area black-bg pt-130 pb-30">
        <div class="container">
          <div class="row wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="tp-footer-widget">
                <div class="tp-footer-widget__title mb-10">
                  <div class="tp-logo text-start">
                    <a href="index.html"><img :src="'assets/img/logo/logo.png'" alt="" /></a>
                  </div>
                </div>
                <div class="tp-footer-widget__text mb-30">
                  <p>
                    KiriminAja adalah sebuah platform order pengiriman berbagai ekspedisi, agar para online seller dapat dengan mudah melakukan
                    pengiriman paket COD maupun NON COD ke seluruh Indonesia.
                  </p>
                </div>
                <div class="tp-footer-widget__social-link">
                  <a href="https://www.instagram.com/kiriminaja_official"><i class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com/kiriminajacom"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.facebook.com/kiriminaja"><i class="fab fa-facebook"></i></a>
                  <a href="https://youtube.com/channel/UC4zrFKGY7YProakHFWid8oQ"><i class="fab fa-youtube"></i></a>
                  <a href="https://www.linkedin.com/company/kiriminaja"><i class="fab fa-linkedin"></i></a>
                  <a href="https://www.tiktok.com/@kiriminajacom"><i class="fab fa-tiktok"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 d-flex justify-content-start justify-content-lg-center">
              <div class="tp-footer-widget">
                <div class="tp-footer-widget__title pb-15">
                  <h3 class="footer-title">Tautan Cepat</h3>
                </div>
                <div class="tp-footer-widget__list">
                  <ul>
                    <li><a href="#">Cek Tarif Aja</a></li>
                    <li><a href="#">Kabar Buatmu</a></li>
                    <li><a href="#">Manajemen Order</a></li>
                    <li>
                      <router-link
                        :to="{
                          name: 'integration'
                        }"
                        >Integrasi API</router-link
                      >
                    </li>
                    <li><a href="#">Karir</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-lg-center">
              <div class="tp-footer-widget text-xl-start pl-20">
                <div class="tp-footer-widget__title pb-15">
                  <h3 class="footer-title">KiriminAja</h3>
                </div>
                <div class="tp-footer-widget__list">
                  <ul>
                    <li>
                      <router-link
                        :to="{
                          name: 'about'
                        }"
                        >Tentang Kami</router-link
                      >
                    </li>
                    <li><a href="#">Syarat & Ketentuan</a></li>
                    <li><a href="#">Kebijakan Privasi</a></li>
                    <li><a href="#">Fakta & Pertanyaan</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-12">
              <div class="tp-footer-widget">
                <div class="tp-footer-widget__title mb-40">
                  <h3 class="footer-title">Instagram post</h3>
                </div>
                <div class="row gx-3">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="tp-footer-widget__tp-insta-img mb-15">
                      <img class="w-100" src="assets/img/footer/footer-1.jpg" alt="" />
                      <div class="tp-footer-widget__tp-insta-img-icon">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="tp-footer-widget__tp-insta-img mb-15">
                      <img class="w-100" src="assets/img/footer/footer-2.jpg" alt="" />
                      <div class="tp-footer-widget__tp-insta-img-icon">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="tp-footer-widget__tp-insta-img mb-15">
                      <img class="w-100" src="assets/img/footer/footer-3.jpg" alt="" />
                      <div class="tp-footer-widget__tp-insta-img-icon">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="tp-footer-widget__tp-insta-img mb-15">
                      <img class="w-100" src="assets/img/footer/footer-4.jpg" alt="" />
                      <div class="tp-footer-widget__tp-insta-img-icon">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="tp-footer-widget__tp-insta-img mb-15">
                      <img class="w-100" src="assets/img/footer/footer-5.jpg" alt="" />
                      <div class="tp-footer-widget__tp-insta-img-icon">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="tp-footer-widget__tp-insta-img mb-15">
                      <img class="w-100" src="assets/img/footer/footer-6.jpg" alt="" />
                      <div class="tp-footer-widget__tp-insta-img-icon">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tp-copyright-area">
          <div class="container">
            <div class="copyright-border pt-40 wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".9s">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-12">
                  <div class="tp-copyright-left text-center text-start">
                    <p>©2023 PT. Selalu Siap Solusi. All Rights Reserved.</p>
                  </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-12">
                  <div class="tp-copyright-right text-md-center text-start text-lg-end">
                    <a href="https://kiriminaja.com/syarat-ketentuan">Terms and conditions</a>
                    <a href="https://kiriminaja.com/privacy-policy"> Privacy policy</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Footer'
}
</script>
