<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <header class="d-none d-lg-block">
      <div id="header-sticky" class="tp-header-area-two header-transparent header-space-three pl-115 pr-115 pt-10">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xxl-3 col-xl-3 col-lg-3">
              <div class="tp-logo text-start">
                <router-link
                  :to="{
                    name: 'home'
                  }"
                  ><img :src="'assets/img/logo/logo.png'" alt=""
                /></router-link>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-3 col-lg-3">
              <div class="tp-main-menu tp-menu-black text-center justify-content-end">
                <nav id="mobile-menu">
                  <ul>
                    <li>
                      <a href="index.html">Blog</a>
                    </li>
                    <li>
                      <a href="portfolio.html">Kabar</a>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">Layanan</a>
                      <ul class="submenu text-start">
                        <li>
                          <a href="about.html">Manajemen Order</a>
                          <p>Platform Management Order dengan multi ekspedisi</p>
                        </li>
                        <li>
                          <router-link
                            :to="{
                              name: 'integration'
                            }"
                          >
                            Integrasi API</router-link
                          >
                          <p>Hubungkan bisnis online existingmu dengan kami</p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="blog.html">Cek Ongkir</a>
                    </li>
                    <li><a href="contact.html">Lacak</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3">
              <div class="tp-header-left d-flex align-items-center justify-content-end">
                <div class="tp-header-login login-color-black d-none d-xxl-block">
                  <a href="login.html"> Masuk</a>
                </div>
                <div class="tp-header-yellow-button tp-yellow-space">
                  <a class="tp-btn-black" href="https://dashboard.kiriminaja.com/v3/mbr20/register">Daftar Gratis </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Header'
}
</script>
