<template>
  <div id="app">
    <main>
      <app-navbar />
      <router-view></router-view>
      <vue-progress-bar></vue-progress-bar>
      <app-footer />
    </main>
  </div>
</template>

<script>
import Navbar from './component/Navbar.vue'
import Footer from './component/Footer.vue'

export default {
  name: 'App_Root',
  data() {
    return {}
  },
  components: {
    'app-navbar': Navbar,
    'app-footer': Footer
  },
  mounted() {
    this.$Progress.finish()
  },
  created() {
    this.$Progress.start()
    this.$router.beforeEach((to, from, next) => {
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress
        this.$Progress.parseMeta(meta)
      }
      this.$Progress.start()
      next()
    })
    this.$router.afterEach((to, from) => {
      this.$Progress.finish()
    })
  }
}
</script>
